<h2>
    A simple weblog, really. <a href='feed.rss'>feed.rss</a>
</h2>
{$ foreach $}
<table width="99%" border="0" cellspacing="0" cellpadding="0">
    <tr bgcolor="#EEEEEE">
        <td align="left" bgcolor="#AACCFF">
            <font color="#000000">
                {$ date $} - {$ headline $} - {$ categories $}
            </font>
        </td>
    </tr>
    <tr>
        <td colspan="2" valign="top">
            {$ body $}
        </td>
    </tr>
</table>
<p>
    &nbsp;
<p>
    {$ next $}
    <a href=olderstuff.html>
        The older entries are here.
    </a>
<p>
    Made using
    <a href=http://jblog.sf.net>
        jblog
    </a>
